apiVersion: v1
kind: Service
metadata:
  name: jenkins-service
  labels:
    app: jenkins
spec:
  type: NodePort
  selector:
    app: jenkins
  ports:
    - port: 8080        # Service port inside cluster
      targetPort: 8080  # Container port in pod
      nodePort: 30080   # External port on Minikube node

