apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pvc
spec:
  storageClassName: ""   # <- IMPORTANT: matches PV with no storageClass
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi


