apiVersion: v1
kind: Service
metadata:
  name: webapp-service
  labels:
    app: webapp
spec:
  type: NodePort
  selector:
    app: webapp
  ports:
    - port: 8080        # inside cluster
      targetPort: 8080  # container port
      nodePort: 30082   # external port on Minikube node

